@tailwind base;
@tailwind utilities;
@tailwind components;


@font-face {
  font-family: "martian";
  src: url("./assests/fonts/MartianMono-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: "nunito";
  src: url("./assests/fonts/NunitoSans_7pt_Condensed-Regular.ttf");
}

@font-face {
  font-family: "crimson";
  src: url("./assests/fonts/CrimsonText-Regular.ttf");
}

@font-face {
  font-family: "titillium";
  src: url("./assests/fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: "ubuntu";
  src: url("./assests/fonts/Ubuntu-Regular.ttf");
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
  overflow: -moz-scrollbars-none;
}